/*****THIS FILE IS FOR PHONE SIZE. <660 Width****** 
******SEE BREAKPOINTS IN RESPONSIVE.CSS************
******FOR GREATER WIDTHS******/

body {
	background-color: #3C0606;
}

.outer {
	height: relative;
	width: relative;
}



/******** HEADER DESIGN ********/
.head .container {
	background-color: white;
	position: absolute;
	top: 2em; 
	left: 5%;
	height: 4em;
	width: 90%;
	border-bottom: 2px solid darkslateblue;
}

#LOGO {
	position: absolute;
	height: 3.5em;
	top: 0.2em;
	visibility: hidden;
}

#EMAIL {
	position: absolute;
	top: 0.3em;
	left: 2%;
	width: 3.3em;
	padding-left:0.05em;
}

#ABB {
	position: absolute;
	top: 0.3em;
	left: 20%;
	height: 3.2em
}

#VRBO {
	position: absolute;
	top: 0.2em;
	left: 35%;
	height: 3.3em;
}

#FLIP {
	position: absolute;
	top: 0.1em;
	left: 52%;
	height: 3.5em;
}

#TRIP {
	position: absolute;
	top: 0.5em;
	left: 65%;
	height: 3.2em;
}

#PET {
	position: absolute;
	top: 0.2em;
	left: 85%;
	height: 3.2em;
}



/******** MENU BAR DESIGN ********/
.nav .container {
	background-color: goldenrod;
	position: absolute;
	top: 6em;
	left: 5%;
	height: 2em;
	width: 90%;
}

.nav .menu-left {
	float: left;
	position: absolute;
	top: -0.6em;
	left: -2.2em;
}

.nav .menu-right {
	text-align: right;
	position: absolute;
	top: -0.6em;
	right: 0.5em;
}

.nav li {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 500; 
	padding-left: .5em;
}

.nav a {
	color: #5B1818;
	text-transform: uppercase;
	text-decoration: none;
}





/******** JUMBOTRON DESIGN ********/
.slide_show .container {
	background-image: url('images/lochhaven.jpg');
	background-size: 100%;
	moz-background-size: 100%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
	border-top: 3px solid darkslateblue;
	border-bottom: 4px solid darkslateblue;
	height: 34em;
	width: 90%;
	position: absolute;
	left: 5%;
	top: 8em;
	}

.slide_show img {
	position: absolute;
	top: 16vw;
	left: 13vw;
	width: 35vw;
}


	
	
/******** CONTENT DESIGN ********/
.info-block .container {
	position: absolute;
	top: 42em;
	left: 5%;
	width: 90%;
	height: auto;
	background-color: goldenrod;
	font-family: 'Times', serif;
}

.info-block h3 {
	font-family: 'Lobster', serif;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.info-block a {
	color: #5B1818;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

.info-block img {
	width: 5em;
	float: left;
	padding-right: 1em;
}

.left-block {
	padding-left: 1em;
}

.right-block {
	padding-left: 1em;
}


/******** FOOTER DESIGN ********/
.foot .container {
	background-color: white;
	position: absolute;
	top: 70em; 
	left: 5%;
	height: 2em;
	width: 90%;
	border-top: 5px solid darkslateblue;
}

.foot p {
	font-size: 0.75em;
	text-align: center;
}

.foot a {
	text-decoration: none;
}

/***************PAGES***************/