.outer {
	height: 100%;
	width: relative;
}

.nav a {
	color: darkslateblue;
	font-size: 14px;
	font-weight: bold;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	position: relative;
	top: 15px;
}

.nav li {
	display: inline;
}

.nav .container {
	background-color: lemonchiffon;
	position: relative;
	top: 10px;
	height: 50px;
}

.jumbotron {
	height: 500px;
	width: 90%;
	background-image: url('images/lochhaven.jpg');
	border: 5px solid indigo;
	position: relative;
	left: 30px;
	}
	
.jumbotron .container {
	position: relative;
	top: 100px;
}

.jumbotron img {
	position: absolute;
	top: 70px;
	left: 310px;
}

.jumbotron h1 {
	color: black;
	font-family: 'Zapfino', script;
	font-size: 50px;
	padding-left: 140px;
	padding-top: 55px;
	}

.jumbotron p {
	color: black;
	font-family: 'Zapfino', script;
	font-size: 22px;
	padding-left: 205px;
	position: relative;
	top: 160px;	
	}
	
.rent-now {
	background-color: lemonchiffon;
	padding: 20px;
	font-family: 'Times', serif;
}

.rent-now h3 {
	font-family: 'Lobster', serif;
	font-size: 18px;
	font-weight: bold;
}

.rent-now a {
	color: darkslateblue;
	font-size: 16px;
	font-weight: bold;
}